html{
    background-color: #F9FBF2;
}

.center{
    background-color: #D7F9FF;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}

.Text {
text-align: center; 
background-color: #F9FBF2;
 
}